<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Socket IO</title>
        <meta charset="UTF-8">
        <script src="/socket.io/socket.io.js"></script>
        <script src="jquery-3.2.1.min.js"></script>
        <script>
            var socket = io("http://localhost:3705");
            socket.on("server-send-dang-ki-that-bai", function(data){
                alert("UserName " + data + " is not available!");
            });
            //server đăng kí thành công
            socket.on("server-send-dang-ki-thanh-cong", function(data){
                $("#currentUser").html(data.username);
                $("#chatRoom").show();
                $("#chatForm").hide();
                $("#loginForm").hide();
                //var s = "<div socketid='"+data.id+"' class='motUser'>" + data.username + "</div>";
                //$("#danhsachUserOnline").append(s);
            });
            //
            socket.on("server-send-rooms", function(data){
                $("#dsRoom").html("");
                data.map(function(r){
                    $("#dsRoom").append("<h4 class='room'>" + r + "</h4>");
                });
                $("#chatRoom").hide();
                $("#chatForm").show();
                $("#loginForm").hide();
            });

             socket.on("server-send-User", function(data){
                $("#chatForm").show();
                $("#chatRoom").hide();
                $("#loginForm").hide();
                var hoten ="<span class='hoten'>" + data.Username + "</span>";
                var msg = "<span class='msg'>" + data.msg + "</span>";
                $("#danhsachmsg").append(hoten +":"+" "+ msg + "<div class='block'></div>");
                
            });

            socket.on("server-send-room-socket", function(data){
                $("#roomHienTai").html(data);
            });

            //
            socket.on("server-send-danh-sach-users", function(data){
                //$("#danhsachUserOnline").html("");
                //data.forEach(function(i) {
                //     $("#danhsachUserOnline").append("<div class='motUser'>" + i + "</div>");
                //});
                var s = "<div socketid='"+data.id+"' class='motUser'>" + data.username + "</div>";
                $("#danhsachUserOnline").append(s);
            });
            //
            socket.on("server_gui_message", function(data){
                var hoten ="<span class='hoten'>" + data.Username + "</span>";
                var msg = "<span class='msg'>" + data.msg + "</span>";
                $("#danhsachmsg").append(hoten +":"+" "+ msg + "<div class='block'></div>");
            });

            socket.on("ai-do-dang-go-chu", function(data){
                $("#thongbao").html(data); 
            });

            socket.on("ai-do-ngung-go-chu", function(){
                $("#thongbao").html("");
            });
            socket.on("server-xu-li-choc-gheo", function(data){
                alert(data + " " + "vua moi choc ban! :v");
            });
            $(document).ready(function(){
                $("#loginForm").show();
                $("#chatRoom").hide();
                $("#chatForm").hide();

                $("#btnDangki").click(function(){
                    socket.emit("client_gui_username", $("#txtUser").val());
                });

                //$("btnTaoRoom").click(function(){
                //    socket.emit("client_gui_username", $("#txtUser").val());
                //});

                $("#btnChat").click(function(){
                    socket.emit("client_gui_message", $("#txtMessage").val());
                    $("#txtMessage").val("");
                    var id = $("#txtMessage").attr("data-id");
                    socket.emit("user-chat-user",id);
                });
                
                $("#txtMessage").focusin(function(){
                    socket.emit("toi-dang-go-chu");
                });

                $("#txtMessage").focusout(function(){
                    socket.emit("toi-ngung-go-chu");
                });

                $("#btnLogout").click(function(){
                    socket.emit("Logout");
                    $("#chatRoom").hide();
                    $("#chatForm").hide();
                    $("#loginForm").show(200);
                });

                 $("#btnTaoRoom").click(function(){
                    socket.emit("tao-room", $("#txtRoom").val());
                });

                $("#danhsachUserOnline").on("click", ".motUser", function(){
                    $("#chatForm").show();
                    var id = $(this).attr("socketid");
                    $("#txtMessage").attr("data-id", id);
                    //socket.emit("user-chat-user", id);
                    //alert(id);
                    //socket.emit("user-choc-gheo-socketid-khac", id);
                    //socket.emit("client_gui_message-client", $("#txtMessage").val());
                    //$("#txtMessage").val("");
                });
                
            });
        </script>
        <link rel="stylesheet" type="text/css" href="main.css" />
    </head>
    <body>
     <div id="wrapper">
        <h1>Demo Chat Online</h1> 
        <div id="loginForm">
            <h3 style="text-align: center">LOG-UP</h3>
            <input style="margin-left: 150px " type="text" id="txtUser" placeholder="UserName" />
            <input type="button" id="btnDangki" value="Dang Ki" />
            
        </div>
        <div id="chatRoom">
             <h3 style="text-align: center">CREAT-ROOM</h3>
            <input style="margin-left: 150px " type="text" id="txtRoom" placeholder="Input Name Room" />
            <input type="button" id="btnTaoRoom" value="Tao Room" />
            <div id="title">Users Online</div>
            <div id="danhsachUserOnline"></div>
        </div>
        <div id="chatForm">
            <div id="sayHi"> <h4 id="roomHienTai">....</h4>
                 Hello, <span id="currentUser"></span>
                <input type="button" id="btnLogout" value="Logout" />
            </div>
            <div id="left">
                <div id="title" >Room Online</div>
                <div id="dsRoom"></div>
                
            </div>
            <div id="right">
                <div class="block"></div>
                <div id="danhsachmsg">
                </div>
                 <div id="thongbao"></div>
                <input type="text" data-id="" id="txtMessage" placeholder="Message...." />
                <input type="button" id="btnChat" value="Chat" />
            </div>
        </div>
        
     </div>
    </body>
</html>