body{background-color: #d7dfed }
h1{text-align: center}
#wrapper{width: 600px; margin: auto}
#left, #right{min-height: 500px; float: left; margin-top: 10px}
#left{width: 30%; background: #eaf4b7}
#right{width: 70%; background-color: #d6f9d9}
.block{width: 100%; clear: both}
#txtMessage, #btnChat{float: left; margin: 2px}
#txtMessage{width: 70%}
#btnChat{width: 25%}
#title{background-color: #ccf900; text-align: center; padding: 5px}
.hoten{color: red; font-weight: bold}
#danhsachmsg{height: 450px; overflow: scroll; clear: both}
#btnDsUser{width: 50% ;background-color: #397fef}
#btnDsRoom{width: 50% ;float: left ;background-color: #397fef} 
#loginForm{height: 150px ;width: 500px; margin: auto; border: solid #397fef}
#chatRoom{height: 150px ;width: 500px; margin: auto; border: solid #397fef}
#dsRoom{height: 450px; overflow: scroll; clear: both}